body {
  margin: 0;
}

.logo span {
  padding-left: 5px;
  color: MediumAquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/*  News Column Main Content */

p {
  display: block;
}

h2 {
  display: block;
  font-size: 1.5em;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

div {
  /* for borders */
  border: 1px solid black;
  display: block;
}

.main-content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  /* if not responding to changes check spacing btwn class names */
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small{
  width: 240px;
}

/* New addition for task 4 .lead-story .image-content .narrative and images */

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content {
/*  display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  height: 300px;
  font-weight: bold;
  color: white;
}

.lead-story .image-content {
  /* if not responding to changes check spacing btwn class names */
  background-image: url("../images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content {
  background-image: url("../images/img-story-2.png");
}

.pop-culture.image-content {
  background-image: url("../images/img-story-3.png");
}

.cat-ceo.image-content {
  background-image: url("../images/img-story-1.png");
}
